html {
    font-size: 24px;
}

html,
body {
    height: 100%;
}

body {
    background: rgba(57, 120, 239, 0.16);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.counter {
    display: flex;
    align-items: center;
}

.input-wrapper {
    width: 4rem;
    height: 4rem;
    border-radius: 0.6rem/0.8rem;
    background-color: purple;
    overflow: hidden;
    box-shadow: inset 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.2), 0 20px 30px -10px rgba(15, 72, 179, 0.26);
}

.input {
    height: 100%;
    width: 100%;
    background: none;
    border: none;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 2rem;
    outline: none;
    transition-property: transform, opacity;
    text-transform: linear;
    transition-duration: 0.25s;
}

.button {
    background: none;
    border: none;
    padding: 0.8rem;
    color: rgba(57, 120, 239, 0.35);
    font-size: 1.6rem;
    outline: none;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.button:hover {
    color: purple;
}